In [1]:
import openpyxl
import pandas as pd
import numpy as np
import os
from pandas import read_excel
from tqdm import tqdm_notebook
from itertools import count
from operator import index, indexOf
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [11]:
def test(excel_path, year):
    data = read_excel(f'{excel_path}')
    data = data.astype({'계약년월':'string'})
    # print(data.info())
    current_apartname = ""
    current_df = []
    current_ms= []
    all_ms= ["01","02","03","04","05","06","07","08","09","10","11","12"]
    new_d = []
    for ind in data.index:
        ym = str(data["계약년월"][ind])
        # ym_format = ym[:4] + "-" + ym[4:]
        ym_format = ym[:]
        data.at[ind,"계약년월"] = ym_format
        # data["계약년월"][ind].values = ym_format

        if ind == 0:
            print("ind == 0")
            current_apartname = data["단지명"][ind]
        if current_apartname == data["단지명"][ind]:
            m = str(data["계약년월"][ind])
            if m[4:] not in current_ms:
                current_ms.append(m[5:])
        if ind == len(data)-1:
            print(current_apartname)
            for i in all_ms:
                if i not in current_ms:
                    d = {'단지명':current_apartname,'계약년월':f"{year}{i}",'x':data["x"][ind], 'y':data["y"][ind] }
                    new_d.append(d)
        else:
            if current_apartname != data["단지명"][ind+1]:
                for i in all_ms:
                    if i not in current_ms:
                        # d = {'단지명':current_apartname,'계약년월':int(f"{year}-{i}"),'x':data["x"][ind], 'y':data["y"][ind] }
                        d = {'단지명':current_apartname,'계약년월':f"{year}{i}",'x':data["x"][ind], 'y':data["y"][ind] }
                        new_d.append(d)

                current_apartname = data["단지명"][ind+1]
                current_ms=[]

    new_df= pd.DataFrame(new_d)
    data = pd.concat([data,new_df])
    data.sort_values(['단지명', '계약년월'], ascending=[True, True], inplace=True)

    # 가격 데이터 빈 곳이 있으면 자동으로 linear 그래프 이용해서 채워줌
    for i in tqdm_notebook(data.filter(['거래금액(만원)']).columns):
        data[i] = data[i].interpolate()
    return data

In [3]:
df = read_excel('test.xlsx')
df = df.dropna()
df.head(10)

,시군구,번지,본번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,x,y
0,서울특별시 강남구 개포동,655-2,655,개포2차현대아파트(220),77.75,201501,11,60000,5,1988,1.414349e+07,4.506431e+06
1,서울특별시 강남구 개포동,655-2,655,개포2차현대아파트(220),77.75,201502,1,62500,5,1988,1.414349e+07,4.506431e+06
2,서울특별시 강남구 개포동,655-2,655,개포2차현대아파트(220),77.75,201503,3,65000,5,1988,1.414349e+07,4.506431e+06
3,서울특별시 강남구 개포동,655-2,655,개포2차현대아파트(220),77.75,201503,7,62500,2,1988,1.414349e+07,4.506431e+06
4,서울특별시 강남구 개포동,655-2,655,개포2차현대아파트(220),77.75,201504,7,64000,2,1988,1.414349e+07,4.506431e+06
5,서울특별시 강남구 개포동,655-2,655,개포2차현대아파트(220),77.75,201505,7,65000,2,1988,1.414349e+07,4.506431e+06
6,서울특별시 강남구 개포동,655-2,655,개포2차현대아파트(220),77.75,201506,7,66000,2,1988,1.414349e+07,4.506431e+06
7,서울특별시 강남구 개포동,655-2,655,개포2차현대아파트(220),77.75,201507,7,67000,2,1988,1.414349e+07,4.506431e+06
8,서울특별시 강남구 개포동,655-2,655,개포2차현대아파트(220),77.75,201508,16,68000,6,1988,1.414349e+07,4.506431e+06
9,서울특별시 강남구 개포동,655-2,655,개포2차현대아파트(220),77.75,201509,16,69000,6,1988,1.414349e+07,4.506431e+06

In [5]:
df = df.filter(['계약년월', '거래금액(만원)', 'x', 'y'])
# data15 = data15.filter(['계약년월', '거래금액(만원)', 'x', 'y'])
# data16 = data16.filter(['계약년월', '거래금액(만원)', 'x', 'y'])
# data17 = data17.filter(['계약년월', '거래금액(만원)', 'x', 'y'])
# data18 = data18.filter(['계약년월', '거래금액(만원)', 'x', 'y'])
# data19 = data19.filter(['계약년월', '거래금액(만원)', 'x', 'y'])
# test_dt['계약년월'] = pd.to_datetime(test_dt['계약년월'], format='%Y%m')
# data15['계약년월'] = pd.to_datetime(data15['계약년월'], format='%Y-%m')
# data16['계약년월'] = pd.to_datetime(data15['계약년월'], format='%Y-%m-%d')
# data17['계약년월'] = pd.to_datetime(data15['계약년월'], format='%Y-%m-%d')
# data18['계약년월'] = pd.to_datetime(data15['계약년월'], format='%Y-%m-%d')
# data19['계약년월'] = pd.to_datetime(data15['계약년월'], format='%Y-%m-%d')
df.drop_duplicates()

      계약년월  거래금액(만원)             x             y
0   201501     60000  1.414349e+07  4.506431e+06
1   201502     62500  1.414349e+07  4.506431e+06
2   201503     65000  1.414349e+07  4.506431e+06
3   201503     62500  1.414349e+07  4.506431e+06
4   201504     64000  1.414349e+07  4.506431e+06
..     ...       ...           ...           ...
56  201908    145000  1.414349e+07  4.506431e+06
57  201909    150000  1.414349e+07  4.506431e+06
58  201910    155000  1.414349e+07  4.506431e+06
59  201911    160000  1.414349e+07  4.506431e+06
60  201912    165000  1.414349e+07  4.506431e+06

[61 rows x 4 columns]

In [9]:
plt.figure(figsize=(10,6))
# plt.plot(df.index,(df['거래금액(만원)']))
# sns.lineplot(y=d1['거래금액(만원)'][1:12], x=d1['계약년월'][1:12])
# sns.lineplot(y=d2['거래금액(만원)'][1:12], x=d2['계약년월'][1:12])
sns.lineplot(y=df['거래금액(만원)'], x=df['계약년월'])
# sns.lineplot(y=d4['거래금액(만원)'][1:12], x=d4['계약년월'][1:12])
# sns.lineplot(y=d5['거래금액(만원)'], x=d5['계약년월'])
# plt.xticks(df.iloc[:, 1:2].index,rotation=45)
# plt.xticks(df.iloc[::, 1:2].index,rotation=45)
# plt.xlabel('Date', fontsize=18)
# plt.ylabel('price', fontsize=18)
plt.plot(real_data, label = 'Real Data')
plt.plot(predict_data, label = 'predicted data')
plt.title('Time series prediction')
plt.legend()
plt.show()

NameError: name 'real_data' is not defined

In [4]:
df.sort_index(ascending=False).reset_index(drop=True)

scaler = MinMaxScaler()
scale_cols = ['거래금액(만원)']
df_scaled = scaler.fit_transform(df[scale_cols])
df_scaled = pd.DataFrame(df_scaled)
df_scaled.columns = scale_cols

df_scaled

NameError: name 'df' is not defined

In [53]:
TEST_SIZE = 10000
WINDOW_SIZE = 3514
# print(df_scaled)

train = df_scaled[:10000]
test = df_scaled[10000:]
print("train: ", len(train))
print("test: " ,len(test))
def make_dataset(data, label, window_size=3514):
    feature_list = []
    label_list = []
    for i in range(len(data) - window_size):
        feature_list.append(np.array(data.iloc[i:i+window_size]))
        label_list.append(np.array(label.iloc[i+window_size]))
    return np.array(feature_list), np.array(label_list)

train:  10000
test:  3516

In [68]:
from sklearn.model_selection import train_test_split
# print(train)
feature_cols = ['거래금액(만원)']
label_cols = ['거래금액(만원)']

train_feature = train[feature_cols]
train_label = train[label_cols]
# print(train_feature)
train_feature, train_label = make_dataset(train_feature, train_label, WINDOW_SIZE)
print(train_label)
x_train, x_valid, y_train, y_valid = train_test_split(train_feature, train_label, test_size=0.4)
x_train.shape, x_valid.shape

[[0.32684426]
 [0.10963115]
 [0.22479508]
 ...
 [0.09620902]
 [0.09248634]
 [0.08876366]]

((3891, 3514, 1), (2595, 3514, 1))

In [69]:
test_feature = test[feature_cols]
test_label = test[label_cols]

test_feature.shape, test_label.shape

((3516, 1), (3516, 1))

In [70]:
test_feature, test_label = make_dataset(test_feature, test_label, 4)
test_feature.shape, test_label.shape

((3512, 4, 1), (3512, 1))

In [81]:
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping, ModelCheckpoint
from keras.layers import LSTM

model = Sequential()
model.add(LSTM(16, input_shape=(train_feature.shape[1], train_feature.shape[2]), activation='relu', return_sequences=False))

model.add(Dense(1))

In [82]:
import os

model.compile(loss='mean_squared_error', optimizer='adam')
early_stop = EarlyStopping(monitor='val_loss', patience=5)

model_path = './model'
filename = os.path.join(model_path, 'tmp_checkpoint.h5')
checkpoint = ModelCheckpoint(filename, monitor='val_loss', verbose=1, save_best_only=True, mode='auto')

history = model.fit(x_train, y_train, epochs=200, batch_size=16, validation_data=(x_valid, y_valid), callbacks=[early_stop, checkpoint])

Epoch 1/200
161/244 [==================>...........] - ETA: 1:58 - loss: 0.0098